* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    width: 100%;
    margin: 0 auto;
    border: 3px solid #931420;
    box-shadow: 3px 3px 10px 12px gray;
    background-color: #fffded;
    max-width: 1200px;
}

header {
    display: flex;
    gap: 6.2px;
    align-items: center;
    border-bottom: 3px solid #931420;
    padding: 1.5em 0 2em 0;
    background-image: linear-gradient(#f6bb73, white);
}

header img {
    padding-left: 2em;
    width: 100%;
    width: auto;
    min-width: 70px;
}

header h2 {
    color: #800000;
    padding-left: 30px;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    padding-left: 30px;
}

main {
    padding: 0 1em;
    display: flex;
    padding-bottom: .5em;
}

main section {
    width: 75%;
}

main aside {
    width: 30%;
    padding-right: .5em;
}

main h1 {
    font-size: 150%;
    padding: .3em 0;
}

main article {
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
}

main h2 {
    font-size: 130%;
    color: #800000;
    padding: .5em 0 .25em 0;
}

main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

main img {
    padding-bottom: 1em;
    max-width: 100%;
    min-width: 70px;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    padding: 0 2em;
    font-style: italic;
}

main ul {
    padding: 0 0 .25em 1.25em;
}

main li {
    padding-bottom: .35em;
}

a:hover, a:active {
    font-style: italic;
}

footer {
    text-align: center;
    background-color: #931420;
    color: white;
    padding: 1em 0;
}

#mobilemenu {
    display: none;
}

.shadow {
    text-shadow: 2px 2px 2.5px #800000;
}

#nav_menu {
    border-bottom: 3px solid #800000;
    background-color: #800000;
}

#nav_menu ul {
    list-style-type: none;
    display: flex;
}

#nav_menu li {
    width: 20%;
}

#nav_menu a {
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: #800000;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#nav_menu a:hover {
    color: yellow;
}

@media only screen and (max-width: 900px) {
    body {
        box-shadow: none;
        font-size: 90%;
    }
}

@media only screen and (max-width: 767px) {
    #mobilemenu {
        display: block;
    }

    #nav_menu {
        display: none;
    }

    .slicknav_menu {
        background-color: #800000;
    }

    header h2 {
        font-size: 200%;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    section, aside {
        max-width: 95%;
    }

    aside {
        order: 2;
    }
}

@media only screen and (max-width: 479px) {
    header {
        font-size: 90%;
    }

    section p {
        font-size: 95%;
    }
}
